ion-title{
    text-align : center;
    border: thick double #a89331;
    border-radius: 10px;
    background-color: black;
    background-image: url("../../assets/photos/taverne.jpg");
}

h1{
    font-family: "snell roundhand";
    font-style: italic;
    color: #a89331;
}

ion-content.background{
    --background: url(../../assets/photos/parchemin.jpg) 0 0/100% 100% no-repeat;
}

h2{
    color: #a89331;
    font-family: "snell roundhand";
    font-style: italic;
    font-weight: 900;
}
iframe{
    border-style: outset;
    border-radius: 2%;
    border-color: goldenrod;
}
