<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Troisième mouvement</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
    <h2>Localisation</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d43874.06646419314!2d0.3364377581302828!3d46.58468409777705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1659280509151!5m2!1sfr!2sfr" width="510" height="850" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
  
</ion-content>
