ion-tab-button{
    text-align : center;
    border: thick double #a89331;
    border-radius: 10px;
    background-image: url("../../assets/photos/tresback.jpg");
}

ion-label{
    font-family: "snell roundhand", "cursive";
    font-style: italic;
    color: #a89331;
}

ion-tab-bar{
    background-color: black;
}