<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Premier pas...</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

      <h3>Voici le début de mes nouvelles aventures</h3>
        <p>SEBASTIEN POUSSARD, 05 49 31 23 48,
           sebpouss5@gmail.com</p>
   
        <p>Développeur web fullstack, Permis B, véhicule personnel
            Programmation Orientée Objet</p>
   
        <h2>A PROPOS</h2>
          <p>32 ans. Formé en tant que développeur web PHP Fullstack avec M2I Formation, à Poitiers (Octobre 2018 - Décembre 
              2018).<br> Ayant auparavant suivi une formation de développement web/mobile avec la Fabrique du Numérique de 
              Poitiers (Décembre 2017 - Août 2018).</p>

        <h2>EXPERIENCE</h2>

          <p>● SERVEUR ‖ <a href="https://www.buffalo-grill.fr">Buffalo Grill</a>, Buffascope ‖ Poitiers<br> 
              10/09/21 au 09/05/2022</p>

          <p>● FORMATION DEVELOPPEUR WEB PHP FULL STACK, 
              Poitiers<br> <a href="https://www.m2iformation.fr/centre-de-formation/poitiers/27/">M2I Formation</a> ‖ Octobre 2018 - Décembre 2018 
              Langages : PHP, Javascript ‖ Base de données : mysql
              Framework : Angular 6, Symfony 3.</p>
   
          <p>● FORMATION DE DEVELOPPEMENT WEB, Poitiers<br> 
            <a href="https://www.fabdunum.fr/">Fabrique du Numérique</a> ‖ Décembre 2017 - Août 2018 
              Création de sites sur CMS (Wordpress) pour le compte des Associations : 
              Sanza, ClubFace, Entract’ion, Progecat (stage entreprise).</p> 

          <p>● AGENT DE PRODUCTION, Poitiers ‖ Migné-Auxances<br>   
            <a href="https://localiser.laposte.fr/vienne/poitiers/poitiers-hotel-de-ville-861940">La Poste</a>, Plate-forme industrielle courrier ‖ Juillet - Août 2017 
              Tri manuel et informatisé de courriers / colis. </p>
   
          <p>● MENUISIER STAGIAIRE, St Benoît<br>
              « Le bois d'Ebène » ‖ 2015 
              Pose, fabrication, peinture, soudure, débit.</p>
          <p>● ASSISTANT DE MANAGER STAGIAIRE, Dublin<br>
              Footwear.ie ‖ Mai - Juillet 2010 </p>

        <h2>COMPETENCES</h2> 

          <p>Gestion de stock, Mise à jour de données, Mise en place d’une boutique sur E-Bay, Appels entrants.Langages utilisés : PHP 7 (formulaires, fichiers, 
              application météo, expressions rationnelles, validation des données), 
              Javascript (Angular, Ionic), Java, HTML 5 et CSS 3. (base de données, KINT, GIT. Architecture MVC, gestion de projet 
              AGILE. Mise à jour des données (Excel), Contact clients et collaborateurs, mise en place d'une façade de vente sur E-bay (Irelande) Mise à jour de stock (Irelande) 
              Réception d'appels (remplacement, Irelande) Rédaction de la démarche  d'utilisation d'Access 2007 (anglais / Irelande). Anglais (bon) parlé et écrit / 
              Espagnol (correct) écrit.</p>
  
        <h2>SOFTWARE</h2>

          <p class="soft"><a href="https://ionicframework.com/">Ionic</a><br>
              <a href="https://code.visualstudio.com/">Visual Studio Code</a><br>
              <a href="https://git-scm.com/">Git</a><br>
              <a href="https://github.com/">Github</a><br>
              <a href="https://www.gitkraken.com/">Gitkraken</a><br>
              <a href="https://wordpress.com/fr/">Wordpress</a><br>
              <a href="https://www.wampserver.com/">Wamp</a><br>
              <a href="https://www.mysql.com/fr/">Mysql</a><br>
              <a href="https://slack.com/intl/fr-fr/">Slack</a><br>
              <a href="https://www.eclipse.org/downloads/">Eclipse</a><br>
              <a href="https://atom.io/">Atom</a><br>
              <a href="https://www.jetbrains.com/fr-fr/webstorm/">Webstorm</a><br>
              <a href="https://filezilla-project.org/">Filezilla</a><br>
              <a href="https://www.arduino.cc/">arduino</a><br>
              <a href="https://unity.com/fr">Unity</a><br>
              <a href="https://www.xmind.net/">Xmind</a><br>
              <a href="https://www.microsoft.com/fr-fr/software-download/windows10">Windows 10</a><br>
              <a href="https://www.ubuntu-fr.org/">Linux Ubuntu</a>
          </p>

        <h2>EDUCATION</h2>

          <p>Certificat de compétences : Langages de programmation Option « PHP Full Stack (POE) » Obtenu niveau Opérationnel.(Décembre 2018).Poitiers.<br>
              Certificat de compétences : Développement web/mobile Obtenu (01/12/2017 au 03/08/2018). Poitiers.<br>
              CAP Menuisier fabricant. Poitiers. Obtenu (2015).<br>
              BTS Assistant de Manager. Niort. Niveau (2OO9, 2010).<br>
              Baccalauréat Général, série Littéraire. Niort. Obtenu (2008).</p>
   
        <h2>Autres :</h2>

          <p>Pratique de la musique (trompette) depuis l’âge de 7 ans. (Etudes faites au conservatoire de Niort).<br>
              Pratique du Volley-Ball en championnat départemental. (Dernier sport pratiqué).<br> 
              Intérêts pour l'astronomie, astrophysique, philosophie, mathématiques, intelligence artificielle, 
              développement de sites / applications mobiles, jeux 2D / 3D.</p>
</ion-content>
